body {
    background: #f1f1f1;
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    padding: 20px;
    background: #fff;
    margin: 80px auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 90%;
    padding: 10px;
    background: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
}

a {
    text-decoration: none;
}
